@page
@model DEMOOutOfOfficeApp.Pages.AddProjectModel
@{
    ViewData["Title"] = "Add Project";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>


<form id="employeeForm" method="post" enctype="multipart/form-data" asp-page-handler="DeactivateProject">

    <table class="table table-bordered">
        <tr>
            <th>Project Type</th>
            <td>
                <select asp-for="ProjectTypeID" class="form-control" required>
                    <option value="">Select Project Type</option>
                    @foreach (var project in Model.ProjectTypes)
                    {
                        <option value="@project.ID">@project.Name</option>
                    }
                </select>
                <span asp-validation-for="ProjectTypeID" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td>
                <input asp-for="Project.StartDate" type="date" class="form-control" required />
                <span asp-validation-for="Project.StartDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th>End Date</th>
            <td>
                <input asp-for="Project.EndDate" type="date" class="form-control" required />
                <span asp-validation-for="Project.EndDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th>Project Manager</th>
            <td>
                <select asp-for="Project.EmployeeId" class="form-control" required>
                    <option value="">Select Project Manager</option>
                    @foreach (var manager in Model.ProjectManagers)
                    {
                        <option value="@manager.EmployeeID">@manager.FullName</option>
                    }
                </select>
                <span asp-validation-for="Project.EmployeeId" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>
                <input asp-for="Project.Comment" class="form-control" required />
                <span asp-validation-for="Project.Comment" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th>Project Status</th>
            <td>
                <input asp-for="Project.ProjectStatus" class="form-control" required readonly />
                <span asp-validation-for="Project.ProjectStatus" class="text-danger"></span>
            </td>
        </tr>
    </table>


    @*  <a asp-page="/Projects" class="btn btn-secondary">Back</a>
    <input type="hidden" name="projectId" value="@Model.Project.Id" />
    <button type="submit" class="btn btn-secondary btn-danger">Deactivate</button> *@
</form>