@page
@model DEMOOutOfOfficeApp.Pages.ApprovalRequestsModel
@{
    ViewData["Title"] = "Approval Requests";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

<div class="table-responsive">
    <table id="approvalTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Leave Request ID</th>
                <th>Status</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model.ApprovalRequests)
            {
                <tr>
                    <td>@request.LeaveRequestID</td>
                    <td>@request.Status</td>
                    <td>@request.Comment</td>
                    <td>
                        <form method="post" asp-page-handler="Open">
                            <button type="submit" value="@request.id" name="aprovalId" class="btn btn-info">Open Request</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#approvalTable').DataTable();
        });
    </script>
}