@page
@model DEMOOutOfOfficeApp.Pages.EmployeesModel
@{
    ViewData["Title"] = "Employees";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

    <table id="employeesTable" class="display">
        <thead>
            <tr>
                <th>Full name</th>
                <th>Subdivision</th>
                <th>Position</th>
                <th>Status</th>
                <th>People Partner</th>
                <th>OutOfOfficeBalance</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.FullName</td>
                    <td>@employee.SubdivisionName</td>
                    <td>@employee.PositionName</td>
                    <td>@employee.StatusName</td>
                    <td>@employee.PeoplePartnerName</td>
                    <td>@employee.OutOfOfficeBalance</td>
                    <td>
                        @if (employee.Photo != null && employee.Photo.Length > 0)
                        {
                            var imageBase64 = Convert.ToBase64String(employee.Photo);
                            var imageSrc = string.Format("data:image/png;base64,{0}", imageBase64);
                            <img src="@imageSrc" alt="Photo of @employee.FullName" width="50" height="50" />
                        }
                        else
                        {
                            <span>No Photo Available</span>
                        }
                    </td>
                    <td>
                        <form method="post" asp-page-handler="Deactivate">
                                <input type="hidden" name="employeeID" value="@employee.ID" />
                            <button type="submit" class="btn btn-danger btn-sm equal-width-btn">Deactivate</button>
                        </form>
                        <form method="post" asp-page-handler="Edit">
                            <input type="hidden" name="employeeID" value="@employee.ID" />
                            <button type="submit" class="btn btn-primary btn-sm equal-width-btn">Edit</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>


<form method="post" asp-page-handler="Add">
    <button type="submit" name="Add" class="btn btn-success">Add Employee</button>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        $('#employeesTable').DataTable();
    });
    </script>
}