@page
@model DEMOOutOfOfficeApp.Pages.LeaveRequestsModel
@{
}

@{
    ViewData["Title"] = "Leave Requests";
}
<h1 style="text-align: center">@ViewData["Title"]</h1>

<table id="projectstable" class="display">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Absence Reason</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Comment</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var leaveRequest in Model.LeaveRequests)
        {
            <tr>
                <td>@leaveRequest.EmployeeName</td>
                <td>@leaveRequest.AbsenceReason</td>
                <td>@leaveRequest.StartDate</td>
                <td>@leaveRequest.EndDate</td>
                <td>@leaveRequest.Comment</td>
                <td>@leaveRequest.Status</td>

                <td>
                    <form asp-page-handler="OpenLeaveRequest" method="post">
                        <input type="hidden" name="id" value="@leaveRequest.EmployeeId" />
                        <button type="submit" class="btn btn-info btn-sm equal-width-btn">Open</button>
                    </form>
                    <form asp-page-handler="EditLeaveRequest" method="post">
                        <input type="hidden" name="id" value="@leaveRequest.EmployeeId" />
                        <button type="submit" class="btn btn-primary btn-sm equal-width-btn">Edit</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-page-handler="AddLeaveRequest" method="post">
    <input type="hidden" name="id" value="@Model.EmployeeId" />
    <button type="submit" class="btn btn-success btn-sm">Add Leave Request</button>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#projectstable').DataTable();
        });
    </script>
}
