@page
@model DEMOOutOfOfficeApp.Pages.OpenApprovalRequestModel
@{
	ViewData["Title"] = "Open Approval Request";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

<input type="hidden" name="id" value="@Model.AprovalRequestID" />

    <table class="table">
        <thead>
            <tr>
                <th>Approved by</th>
                <th>Leave Request ID</th>
                <th>Status</th>
                <th>Comment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                <input type="text" value="@Model.ApprovalRequest.ApproverName" class="form-control" readonly />
            </td>
                <td>
                   @*  <select asp-for="ApprovalRequest.LeaveRequestID" class="form-control">
                        @foreach (var leaveRequest in Model.LeaveRequests)
                        {
                            <option value="@leaveRequest.ID">@leaveRequest.ID</option>
                        }
                    </select> *@
                </td>
                <td>
                    @* <select asp-for="ApprovalRequest.Status" class="form-control">
                        @foreach (var status in Model.LeaveRequestsStatuses)
                        {
                            <option value="@status.ID">@status.D</option>
                        }
                    </select> *@
                </td>
                <td>
                    @* <input asp-for="Comment" class="form-control" /> *@
                </td>
                <td>
                <form method="post" asp-page-handler="Approve">
                    <button type="submit" class="btn btn-success">Approve</button>
                </form>

                <form method="post" asp-page-handler="Reject">
                    <button type="submit" class="btn btn-warning">Reject</button>
                </form>

                </td>
            </tr>
        </tbody>
    </table>

<a asp-page="/ApprovalRequests" class="btn btn-secondary">
    <button type="button" class="btn btn-secondary">Back</button>
</a>
