@page
@model DEMOOutOfOfficeApp.Pages.ProjectsModel
@{
}
@{
    ViewData["Title"] = "Projects";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

<table id="projectstable" class="display">
    <thead>
        <tr>
            <th>Project Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Employee assigned to the project</th>
            <th>Project Manager</th>
            <th>Comment</th>
            <th>Status</th>
            @if (!User.IsInRole("Employee"))
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>@project.ProjectName</td>
                <td>@project.StartDate.ToString("yyyy-MM-dd")</td>
                <td>@(project.EndDate.HasValue ? project.EndDate.Value.ToString("yyyy-MM-dd") : "No end date")</td>
                <td>@project.Employee</td>
                <td>@project.Projectmanager</td>
                <td>@project.Comment</td>
                <td>@project.ProjectStatus</td>

                @if (!User.IsInRole("Employee"))
                {
                    <td>
                        <form method="post" asp-page-handler="OpenProject">
                            <input type="hidden" name="projectID" value="@project.Id" />
                            <button type="submit" class="btn btn-info btn-sm equal-width-btn">Open</button>
                        </form>
                    </td>
                }
               
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("ProjectManager"))
{
    <a asp-page="/AddProject" class="btn btn-success">AddProject</a>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#projectstable').DataTable();
        });
    </script>
}