@using DEMOOutOfOfficeApp.Models
@model IApprovalRequestsFormModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Approver</th>
            <th>Leave Request ID</th>
            <th>Status</th>
            <th>Comment</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select asp-for="Approver" class="form-control">
                    @foreach (var approver in Model.Approver)
                    {
                        <option value="@approver.ID">@approver.FullName</option>
                    }
                </select>
            </td>
            <td>
                <select asp-for="LeaveRequests" class="form-control">
                    @foreach (var leaveRequest in Model.LeaveRequests)
                    {
                        <option value="@leaveRequest.ID">@leaveRequest.ID</option>
                    }
                </select>
            </td>
            <td>
                <select asp-for="Status" class="form-control">
                    @foreach (var status in Model.Status)
                    {
                        <option value="@status.ID">@status.Description</option>
                    }
                </select>
            </td>
            <td>
                <input asp-for="Comment" class="form-control" />
            </td>
            <td>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </td>
        </tr>
    </tbody>
</table>
